<tr class="bg-info">
    <td>Имя файла</td>
    <td>Дата</td>
    <td>Прошло дней</td>
    <td>Размер</td>
</tr>
<form action="" method="get" id="bootstrapSelectForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-5 control-label"></label>
        <div class="col-xs-2 selectContainer">
            <h4>Выбирите дату</h4>
            <p>
                <input id="date" type="date" name="calendar" class="form-control"/>
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="Показать">
            </p>
        </div>
    </div>
</form>