<!DOCTYPE html>
<html>
<head><title>Мониторин записей</title>
    <meta http-equiv="refresh" content="30">
</head>
<style type="text/css">
    body {
        font-family: Helvetica, Sans-Serif;
    }

    table {
        width: 800px; /* Ширина таблицы */
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
    }

    td, th {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 1px solid black; /* Параметры рамки */
    }

    th {
        background: #b0e0e6; /* Цвет фона */
    }

    ul {
        list-style: square;
        padding: 10px;
    }
</style>

<body><h2>Мониторинг %s</h2>
<table>%s</table>

<table>{{range .}}<tr><td>{{.}}</td></tr>{{end}}</table>
<!--<tr>-->
    <!--<td align="center">Каталог</td>-->
    <!--<td align="center" style="width: 100px;">Размер</td>-->
    <!--<td align="center" style="width: 100px;">Каталог</td>-->
<!--</tr>-->

</body>
</html>
