<div class="container">
    <div class="row">
         <div class="Absolute-Center is-Responsive">
            <p>
                <form action="audio" >
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Прослушать записи"/>
                    </div>
                </form>
            </p>
            <p>
                <form action="monit">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Мониторинг">
                    </div>
                </form>
             </p>
         </div>
    </div>
</div>