{{define "window"}}
<tr class="bg-info">
    <td>Имя файла</td>
    <td>Дата</td>
    <td>Прошло дней</td>
    <td>Прошло часов</td>
    <td>Размер</td>
    <td>Аудио</td>
</tr>
<form action="" method="get" id="bootstrapSelectForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-5 control-label"></label>
        <div class="col-xs-2 selectContainer">
            <h4>Выбирите дату</h4>
            <p><input type="date" name="calendar" class="form-control" /></p>
            <h4>Выбирите окно</h4>
            <select id="window" name="window" class="form-control">
                {{range $key, $value := .}}
                <option value="{{ $value }}">{{ $key }}</option>
                {{end}}
            </select>
            {{end}}
            {{define "time"}}
            <h4>Выбирите время</h4>
            <select id="time" name="time" class="form-control">
                {{range $keytime, $valuetime := .}}
                <option value="{{ $valuetime }}">{{ $keytime }}</option>
                {{end}}
            </select>
            <p><p><input type="submit" class="btn btn-primary" value="Показать"></p></p>
        </div></div>
</form>
{{end}}